* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Primary */
  --blue: hsl(223, 87%, 63%);

  /* Secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);

  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Libre Franklin', sans-serif;
}

.coming-page {
  max-width: 86%;
  margin: 4rem auto;
}

.coming-page__header {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.coming-page__logo img,
.coming-page__img img {
  display: block;
  max-width: 100%;
}

.coming-page__logo img {
  width: 7rem;
}

.coming-page__title {
  font-size: 2.4rem;
  color: var(--gray);
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.8rem;
}

.coming-page__title span {
  color: var(--very-dark-blue);
  font-weight: 700;
}

.coming-page__text {
  font-size: 1.6rem;

  text-align: center;
  margin-bottom: 4rem;
  color: var(--very-dark-blue);
}

.coming-page__form {
  margin-bottom: 4rem;
  padding: 0 2.5rem;
}

.coming-page__form label {
  display: none;
}

.coming-page__email {
  width: 100%;
  padding: 1.2rem 2rem;
  border-radius: 10rem;
  border: 0.1rem solid var(--pale-blue);
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--very-dark-blue);
  font-family: inherit;
}

.coming-page__email::placeholder {
  color: var(--pale-blue);
}

.coming-page__email--active {
  border: 0.1rem solid var(--light-red);
}

.coming-page__form small {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-red);
  margin-bottom: 3rem;
}

.coming-page__form button {
  width: 100%;
  padding: 1.4rem 0;
  border: none;
  border-radius: 10rem;
  background-color: var(--blue);
  font-family: inherit;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  cursor: pointer;
}

.coming-page__form button:hover {
  background-color: hsl(223, 87%, 70%);
}

.coming-page__img {
  margin-bottom: 13rem;
}

.coming-page__img img {
  width: 100%;
}

.coming-page__social {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.coming-page__icon + .coming-page__icon {
  margin-left: 3rem;
}

.coming-page__icon {
  color: var(--blue);
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  border-radius: 50%;
  margin: 0 0.5rem 0 0.5rem;
  transition: background-color 0.5s ease;
}

.coming-page__icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.coming-page__icon:hover {
  background-color: var(--blue);
  color: #fff;
}

.coming-page__copyright {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  color: var(--gray);
}

@media (min-width: 576px) {
  .coming-page {
    max-width: 50rem;
  }
}

@media (min-width: 768px) {
  .coming-page {
    max-width: 70rem;
  }

  .coming-page__title {
    font-size: 5.2rem;
  }

  .coming-page__text {
    font-size: 2rem;
  }

  .coming-page__form {
    display: flex;
  }

  .coming-page__group {
    flex: 2;
  }

  .coming-page__form button {
    flex: 1;
    align-self: flex-start;
    height: 4.8rem;
    margin-left: 1.5rem;
  }

  .coming-page__form small {
    text-align: left;
    margin-left: 2.5rem;
  }

}
